.body-style{
    background-color: #13141b;
    background-image: url(/image/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

/* feature/others align part start */
.t-align{
    text-align: center;
    background-color: rgba(13, 13, 196, 0.616);
    color: white;
    border-radius: 7px;
}
/* img sizing  */
.pic{
    margin-top:25rem;
    width:15rem;
    margin-left: 40px;
}
.gif{
    margin-left: 35%;
}
/* Card part design */
.card-img{
    background-color: #07091381;
}
.card:hover{
    transform: scale(1.1);
    transition: .5s ease-in-out;
    border-radius: 30px;
    background-color: antiquewhite;
}
.brand-btn,
#search-btn {
    background: linear-gradient(90deg,#4776e6 0,#8e54e9 51%,#4776e6);;
    font-weight: 700;
    color:white;
    border: 2px solid gray;
}

.brand-btn:hover {
    transform: scale(1.10);
    transition: transform .3s ease-in-out;
    background: linear-gradient(90deg,#4776e6 0,#5495e9 51%,#4776e6);
    border: 2px solid rgb(255, 0, 200);
    color: rgb(221, 251, 119) !important;
}

#search-btn:hover{
    transform: scale(1.10);
    transition: transform .3s ease-in-out;
    background: linear-gradient(90deg,#4776e6 0,#5495e9 51%,#4776e6);
    border: 2px solid gray;
    color: rgb(221, 251, 119) !important;
}