/* align part start */
.t-align{
    text-align: center;
    background-color: rgba(13, 13, 196, 0.616);
    color: white;
    border-radius: 7px;
}
/* img sizing  */
.pic{
    margin-top: 100%;
    width:100%;
}